@charset "UTF-8";
​
// 定義
$keyC: #dd6600;
$subC: darken($keyC, 25%);
$backC: lighten($keyC, 50%);
​
@mixin base_font() {
  font-size: 138%;
  color: $subC;{
}
​
.item-list {
  width: 670px;
  margin: 0 auto;
​
  // 大見出し
​
  &__heading {
    width: 100%;
    padding: 25px 0;
    margin-bottom: 40px;
    background: url("../images/left.png") 0 0 no-repeat,
      url("../images/right.png") right 0 no-repeat, $backC;
    background-size: contain;
    // font-size: 138%;
    // color: $subC;
    @include base_font();
    font-weight: bold;
    font-family: MS mincho;
    text-align: center;
    letter-spacing: 0.2em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    position: relative;
​
    &::after,
    &::before {
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      top: 100%;
      border: 5px solid transparent;
      border-top: 5px solid $subC;
    }
​
    &::before {
      right: 0;
      border-left: 5px solid $subC;
    }
​
    &::after {
      left: 0;
      border-right: 5px solid $subC;
    }
  }
​
  // 商品一覧
​
  &__items {
    overflow: hidden;
    padding: 0;
    width: 610px;
    margin: auto;
  }
  &__item {
    width: 170px;
    float: left;
    margin: 0 50px 20px 0;
    list-style-type: none;
​
    &:nth-of-type(3n) {
      margin-right: 0;
    }
​
    &-img {
      padding: 4px;
      border: 1px solid $subC;
    }
​
    &-link {
      color: $subC;
      text-decoration: none;
​
      &:hover {
        color: $keyC;
      }
    }
​
    &-name {
      margin: 5px 0;
      // font-size: 113%;
      // color: $subC;
      @include base_font();
      font-weight: bold;
​
      &--eng {
        margin: 0;
        // font-size: 75%;
        // color: $keyC;
        @include base_font();
        border-top: 1px dotted $subC;
      }
    }
​
    &-text {
      // font-size: 88%;
      // color: $subC;
      @include base_font();
    }
  }
}
